.SlideContainer {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  border-radius: 2px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; 
}

.SlideContainer img, .SlideContainer video {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.SlideContainer * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}